[2022-02-08 02:33] roopeshsn opened #3 "Reduce unused CSS"
Reduce unused rules from stylesheets and defer CSS not used for above-the-fold content to decrease bytes consumed by network activity.

**React Bootstrap** is used for styling

[2022-02-08 04:38] jccdev45 commented on #3
Hi, I'd love to submit a PR for this issue. I have it done already but didn't read your contributing guidelines about commenting first until I was about to open the PR so I will hold off until you give the green light. Just a note, I followed the steps of [this article](https://blog.logrocket.com/purgecss-remove-unused-css-code/) as a guide that recommends ejecting CRA. The [official PurgeCSS guid

[2022-02-08 05:02] theroopesh commented on #3
Hello! Thanks for showing interest in this project. I read your comment, which is perfect. Yeah, you can submit a PR for this issue.

[2022-02-08 05:04] theroopesh commented on #3
Also, I request you to confirm that the app works fine after configuring purgecss.

[2022-02-08 05:19] theroopesh opened #4 "Add unit tests for react app"

[2022-02-08 09:13] roopeshsn opened #6 "Enable text compression"
Lighthouse states that Text-based resources should be served with compression (gzip, deflate or brotli) to minimize total network bytes.

![text-compression-lighthouse](https://user-images.githubusercontent.com/70762571/152955021-342fee3d-722e-443f-acea-547506c34821.jpg)

You can learn more here: [https://web.dev/uses-text-compression/?utm_source=lighthouse&utm_medium=devtools](url)

[2022-03-28 04:03] developedBySJ commented on #6
@roopeshsn can I work on this?

[2022-03-28 04:04] roopeshsn commented on #6
Sure

[2022-03-28 10:31] roopeshsn commented on #6
Have you tested the application in your local machine before raising a PR?

[2022-03-28 11:17] developedBySJ commented on #6
Yes, I have tested the application in production mode.

![image](https://user-images.githubusercontent.com/76519654/160386779-6375c088-8de0-4c49-8e50-031ecd94ebbe.png)

[2022-03-28 11:19] roopeshsn commented on #6
Good work @developedBySJ

[2022-03-28 11:24] roopeshsn commented on #6
I would like you to be an active maintainer of this project. If you spot any bugs or performance-related issues please create an issue. So, that others can work on that. If you'd like to add any new feature please go ahead.  Your contribution will highly benefit this project!

[2022-03-28 11:24] #6 closed

[2022-04-01 00:10] roopeshsn commented on #4
Yeah, sure! Go ahead

[2022-04-07 14:58] neokkers opened #13 "Registration doesn't work properly"
I think route for register is protected by admin middleware, so it doesn't work

[2022-04-17 12:46] alpavlove commented on #3
Hey folks. I'd like to take this issue if nobody minds

[2022-04-17 13:10] roopeshsn commented on #3
Go ahead!

[2022-04-22 18:49] Felexonyango commented on #4
I will be helping in writing unit test. Thank you to the team

[2022-04-23 06:05] roopeshsn opened #18 "Style Shopping Cart Page"
Here's the shopping cart page of Freshbey

![cart-freshbey](https://user-images.githubusercontent.com/70762571/164882256-58c6ccf9-cb54-4e28-9a3a-73ca0b1ffafe.png)

The position of the elements is not perfectly aligned. Style it as you like. But follow the color theme!

React Bootstrap is used for styling. Also, the Zephyr theme is used from Bootswatch.

[2022-04-23 06:07] roopeshsn commented on #18
When raising your PR, attach the screenshot of the finished shopping cart page.

[2022-04-23 07:43] imSmaity commented on #18
You can use img-fluid.

[2022-04-23 12:06] roopeshsn commented on #4
Thanks for your contribution @Felexonyango

[2022-05-03 19:19] emilylubkert commented on #18
I'd like to work on this!

[2022-05-04 01:49] roopeshsn commented on #18
Sure, Go ahead!

[2022-05-04 17:07] emilylubkert commented on #18
Does this look good?
![Screen Shot 2022-05-04 at 11 04 16 AM](https://user-images.githubusercontent.com/93680915/166741376-22a32ead-fb17-4b3b-bbcb-353503400cc5.png)

[2022-05-05 13:45] roopeshsn commented on #18
Nice! Whether it is responsive on smaller screens?

[2022-05-05 14:49] emilylubkert commented on #18
Yep! Here is how it looks on several different screen sizes.
**XL:**
![freshbey_xl](https://user-images.githubusercontent.com/93680915/166950180-badaa5fb-a873-454d-b0bf-d559b79717fe.png)
**L:**
![freshbey_l](https://user-images.githubusercontent.com/93680915/166950204-dbffe655-5c7a-4959-815e-f970c6710781.png)
**M:**
![freshbey_m](https://user-images.githubusercontent.com/93680915/166950218-ae80b3a

[2022-05-22 15:44] vansh12345341 commented on #18
Hey i would like to style this cart page for you ....can you describe me how you want it too look ?

[2022-06-12 08:54] Shuaib-Ahmed commented on #13
Can i work on this issue

[2022-06-12 15:58] roopeshsn commented on #13
Yeah, go ahead!

[2022-06-13 05:32] Shuaib-Ahmed commented on #13
Ok i am working on it.

[2022-06-13 09:27] Shuaib-Ahmed commented on #13
Hey can u please explain what exactly is the problem that u are facing because i just created a user, logout and login again and every thing seems fine to me

[2022-06-23 21:28] Sugamlake opened #27 "Enhance shopping cart"
Hi, I would like to enhance the shopping cart functionality because it looks empty

best regards

[2022-06-29 03:00] dwyrwas commented on #4
Hi! I could I be assigned to this issue? Thanks!

[2022-08-11 04:03] xscottxbrownx commented on #18
Seems like you enjoyed @emilylubkert work...  is this issue ready to be closed?  Or did you have more in mind @roopeshsn ?

[2022-08-11 08:54] jjaijg opened #30 "ProfileScreen update label for "Password" field"
![image](https://user-images.githubusercontent.com/22398917/184098137-be8db0fd-c7c5-43e7-a258-76421185dc9d.png)

[2022-08-11 08:56] jjaijg commented on #30
I have created PR for this issue.
[https://github.com/roopeshsn/freshbey/pull/29](https://github.com/roopeshsn/freshbey/pull/29)

[2022-08-12 17:20] dharmiknotop commented on #30
hey, what kind of updation?

[2022-08-12 17:32] jjaijg commented on #30
Hi @dharmiknotop, it's just a UI change. Changed label "Password Address" to "Password"

[2022-08-12 17:37] dharmiknotop commented on #30
ohk, can you assign this to me?

[2022-08-12 17:42] jjaijg commented on #30
Actually I have already created a pull request for this [#29](https://github.com/roopeshsn/freshbey/pull/29).
And I am not the Author/maintainer, I won't be able to assign it to you

[2022-08-27 15:19] YashasaveeKesarwani99 commented on #3
Hi,Can you please assign this issue to me!

[2022-10-02 08:46] roopeshsn commented on #4
This  issue is still open

[2022-10-02 08:49] roopeshsn opened #37 "Suggestions on Payment Gateway"
I am thinking is there any way to add a payment gateway without using services like Paypal, Stripe, or Razorpay?

[2022-10-02 08:51] #30 closed

[2022-10-02 08:56] roopeshsn opened #38 "Change project setup env in README"
I have given my own credentials in env variables under "Getting Started - Project setup on your local machine" in the README file. Change those in order to set up those accounts by the developer itself.

[2022-10-02 08:57] #18 closed

[2022-10-02 09:01] roopeshsn opened #39 "Suggest a way to host the backend"
The backend was hosted on Heroku. It seems that they have stopped the free tier. Suggest a free service provider so that the backend could be hosted on the web.

[2022-10-02 09:08] roopeshsn opened #40 "Data from the database (MongoDB) is not loading"
The problem I have found is that data from MongoDB is not loading. Though the cluster is working properly. Attached the necessary screenshots.

![screenshot-freshbey herokuapp com-2022 10 02-14_34_45](https://user-images.githubusercontent.com/70762571/193446690-5b176561-f3ad-4e3e-9a6f-ce8858bd7752.png)

![screenshot-cloud mongodb com-2022 10 02-14_36_37](https://user-images.githubusercontent.com/7

[2022-10-02 09:10] roopeshsn commented on #27
Could you explain your approach on this?

[2022-10-02 09:11] roopeshsn commented on #3
Could you explain your approach to this?

[2022-10-02 10:25] roopeshsn opened #41 "Suggestions on separating backend and frontend"
As of now the backend and frontend are tied up together. I would like to separate them out so that hosting can be done without hassle. This will help in further scalability.

[2022-10-02 21:46] sameergupta4873 commented on #37
i have added this stuffs like Paypal and Razorpay , they work greatly on my website on github : -
do checkout :- [here](https://github.com/sameergupta4873/ecommerce_website.git)
payment :- [walkthrough video](https://www.linkedin.com/posts/sameer-gupta-a29272184_frontend-project-share-activity-6975860047784349697-Fis_?utm_source=share&utm_medium=member_desktop)

[2022-10-02 22:21] leksyking commented on #13
okay I think the problem was in the env variable
replace MONGODB_URI with MONGODB_URI =mongodb+srv://admin:WLHWG8uKb5p5q2T7@cluster0.p2u97.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
There were some repetitions in the README

[2022-10-02 22:46] leksyking commented on #40
Please confirm if there are products in the database collection

[2022-10-03 01:05] roopeshsn commented on #40
I have destroyed the DB and imported it again. Now the problem is solved. As I have given my original credentials for MongoDB someone has changed the products collection. I need to remove those credentials.

[2022-10-03 01:18] roopeshsn commented on #38
Hi, @Aryangp Similar to this I need the env setup to be written in the readme.

![env-setup-documentation](https://user-images.githubusercontent.com/70762571/193485805-f3cf3001-e630-44c2-a708-ed44c0b76e0d.png)

If you observe that there are no credentials data. That means the developer can set up their own accounts to work with this project (eg. MongoDB, etc.)

[2022-10-03 03:09] Aryangp commented on #38
Yeah i can do that pls assign this issue to me

[2022-10-03 03:13] roopeshsn commented on #38
Hi, I have assigned you @Aryangp Feel free to ask if you have any queries.

[2022-10-03 03:14] Aryangp commented on #38
Thanks

[2022-10-03 03:23] roopeshsn commented on #38
Hi! Make sure to use this command frequently because we have more changes taking place often

git fetch upstream master

[2022-10-03 03:37] BeFinSavvy commented on #39
What about aws EC2. It could be hosted there.

[2022-10-03 03:44] SyedMuzamilM commented on #41
I would like to help.
Basically we can have separate npm projects for both front-end and backend.
We can have mono repo the same way it currently is and then if you want backend can be hosted on AWS EC2 which is free for a year and front-end on vercel or netllify

[2022-10-03 06:00] leksyking commented on #40
Okay good, kindly close the issue

[2022-10-03 06:14] Aryangp commented on #38
ok sure

[2022-10-03 06:34] AjayMaheshwari23 opened #48 "[Feature] Dark Mode 🌙"
Some users prefer viewing the website in dark mode for better visibility . So can i contribute to this repository by adding a button which will help to switch between light and dark mode . can you assign it to me .

[2022-10-03 07:29] #40 closed

[2022-10-03 07:32] roopeshsn commented on #41
Instead of having separate repositories can't, we do the partition in the same repo?

[2022-10-03 07:54] AmreshSinha commented on #39
Oracle cloud free tier

[2022-10-03 07:56] AmreshSinha commented on #48
Hey, are you working on this? If not, I would love to work on this!

[2022-10-03 08:34] roopeshsn opened #50 "Render a message if a user has not bought anything"
This is the profile page of a user.

![screenshot-freshbey herokuapp com-2022 10 03-13_58_42](https://user-images.githubusercontent.com/70762571/193533722-1c6d94c8-620c-4452-9fe3-d922c2130f0d.png)

In the profile, there is a "My Orders" section. If a user has not bought anything there is a message below the table stating that "You haven't placed any order yet, [Start Shopping!](https://freshbey.he

[2022-10-03 08:42] ankitdas09 commented on #50
I can work on this, can you please assign it to me?

[2022-10-03 08:46] roopeshsn commented on #50
Sure @ankitdas09  I would like to say something. On commit, don't add the package-lock.json file. Because it continuously changes if the new version of the packages is available. It will unnecessarily raise merge conflict.

[2022-10-03 08:48] ankitdas09 commented on #50
@roopeshsn Sure, i will take care of that.

[2022-10-03 08:50] AjayMaheshwari23 commented on #48
I want to work on this , created theme and other stuff just waiting for owner of this repo to assign it to me .

[2022-10-03 08:56] itsvipindev commented on #41
I think we can separate both the client side and server side by creating different folders for each and find a way to make them communicate to each other like rendering dynamic page with jsx or change the HTML file with according to JSON data we recive from server side

[2022-10-03 09:17] roopeshsn opened #51 "Render appropriate message if a order eligible for free delivery or not"
Render a message similar to this on the Freshbey cart page if the order was above Rs. 400.

![order_eligible_for_free_delivery](https://user-images.githubusercontent.com/70762571/193540628-bbdca63f-6958-45b1-8efd-94a315aa55d8.jpg)

else render a message stating that how much extra to add so that the order qualifies for free delivery.

![not_eligible_for_free_delivery](https://user-images.githubuse

[2022-10-03 09:21] SyedMuzamilM commented on #41
We can use mono repo. Both front-end and backend in the same repo but can be deployed separately

[2022-10-03 09:26] roopeshsn opened #52 "Need spacing between these two buttons"
Need spacing between these two buttons on the products page which will be visible for admin only.  So, log in using the admin account.

![products_page_options_spacing](https://user-images.githubusercontent.com/70762571/193544206-38f66c9c-611a-46e8-993f-374489987b15.jpg)

[2022-10-03 10:28] anujverma-eng opened #53 "Form is not properly validated"
Hi @roopeshsn Team, I have just found out about this bug, that the **Form is not validated properly**.
The example I'm living in Canada and we have a Postal code a mix of AlphaNumeric characters.
So, If I enter the Postal Code say "R2M 0T8" and then I proceed to Place Order, it shows an error

`
Order validation failed: shippingAddress.pinCode: Cast to Number failed for value "R2M 0T7" (type strin

[2022-10-03 10:46] roopeshsn commented on #53
Hi, @anujverma-eng Thanks for this detailed bug report. As it was not a real-time working application we can accept orders from all countries. Yeah, I will assign this issue to you. Also, the UX can be improved by a drop-down option for Country, State, and City. The desired flow should be like this Address -> pin code or zip code -> country -> state -> city. Would like to know your thoughts on thi

[2022-10-03 11:03] anujverma-eng commented on #53
**Adding Feature**

Yes definately, we can create a dependent dropdown (depends on Country Selected, State selected, and then city ), we can make our own JSON for this, like in which country>state>city  our we are serving (the Products) and we can show this in our dropdowns,

but for Postal code, we need to make our Order Model as Text (not number).

Pls Let me know the Guidelines while making Pul

[2022-10-03 11:38] SyedMuzamilM commented on #37
I think we should support more payment methods like stripe PayPal rayzorpay. And any one choosing this project can choose one of them or all

[2022-10-03 13:10] juliana-mol commented on #51
Can I work on this ?

[2022-10-03 17:21] roopeshsn commented on #51
But it seems that you joined Github yesterday.

[2022-10-03 20:35] Rohitchaudhary13 commented on #3
Hey!, can i add animation on cards?

[2022-10-04 01:49] roopeshsn commented on #48
Hi, @AjayMaheshwari23 Thanks for your interest! I am planning to change the frontend style to Chakra UI from Bootstrap. Right now this feature is not necessary.

[2022-10-04 01:49] #48 closed

[2022-10-04 01:50] #38 closed

[2022-10-04 01:51] roopeshsn commented on #3
This issue is not meant for adding animation!

[2022-10-04 02:03] roopeshsn commented on #53
Hi, @anujverma-eng You can change the pin code field to text. No specific guidelines on a PR. Just mention what you have worked on precisely in the description.

[2022-10-04 02:20] s-vamshi commented on #52
@roopeshsn can you please assign this to me?

[2022-10-04 02:23] roopeshsn commented on #52
Go a head @s-vamshi

[2022-10-04 02:46] roopeshsn opened #54 "Create Image upload component for products admin page"
For admin, there is an option to create a new product.

![admin_product_page_freshbey](https://user-images.githubusercontent.com/70762571/193722025-89b729f8-ec90-4779-ae2d-d9e8e3e1313c.jpg)

Here is the form when you click that "Create Product" button.

![create_product_form_freshbey](https://user-images.githubusercontent.com/70762571/193722373-f3d668bb-e6cd-461a-8a0d-56d0c6900ec4.png)

For the Im

[2022-10-04 02:46] s-vamshi commented on #52
@roopeshsn thank you for assigning. There needs to be spacing between buttons in /admin/users page as well, so should I make changes for users page also?

[2022-10-04 02:55] roopeshsn commented on #52
Yeah, you can. Thanks for pointing this out.

[2022-10-04 03:09] roopeshsn opened #55 "Inventory management"
If a user bought a product, the count should be reduced from the stock automatically. Till now there is no option like this. Come up with a solution that solves the problem as stated.

[2022-10-04 03:51] s-vamshi commented on #52
@roopeshsn can you please review my PR?
#56

[2022-10-04 03:59] s-vamshi commented on #54
Hey i would like to work on this. I have few doubts, so instead of manually uploading to ImgBB, admin need to upload file to the DB right?

[2022-10-04 05:54] codeDude64 commented on #55
May you assign me this issue? please.

[2022-10-04 06:07] AjayMaheshwari23 commented on #48
If in future , you plan to add dark mode , do assign it to me  .

[2022-10-04 06:18] roopeshsn commented on #55
Could you explain your approach?

[2022-10-04 06:23] roopeshsn commented on #54
Yes, you're right! Also, you should take care of rendering the images in the frontend. Could you explain doing this? Also if you have another solution you're welcome to discuss it.

[2022-10-04 06:54] roopeshsn commented on #41
Hi, @SyedMuzamilM Have you worked like the same thing previously? If so we can work and separate the repos for EC2.

[2022-10-04 07:35] #50 closed

[2022-10-04 08:17] SyedMuzamilM commented on #41
Yes I have worked that way. And we can separate the backend and front-end. And then on a single push it can get deployed to backend or front-end depending upon where the Changes have happened

[2022-10-04 09:37] roopeshsn opened #59 "Change color on focus in input fields"
Freshbey's primary color is #34a853. It is declared as a variable "--bs-green" in the index.css file. So we want this color to be referenced as primary all over the application. Be it has hover, focus, etc. we need these shades of color to be referenced. But in the input field, when focused, a shade of blue is shown. This behavior is shown below through a screenshot.

![freshbey_focus_color](https

[2022-10-04 09:39] heisdinesh commented on #59
can i work on this issue @roopeshsn

[2022-10-04 09:42] roopeshsn commented on #59
Hi @heisdinesh Sure, you can work on this. Reference the README file for styling libraries and themes used in this project.

[2022-10-04 09:53] roopeshsn opened #60 "Change logo's font style and color"
To differentiate the logo text "Freshbey" in the navbar, I need the font and color to be changed.

Desired font style: League Spartan Semi Bold 600
Desired Color: --bg-green (declared in the index.css file)

![fresbey_logo_change](https://user-images.githubusercontent.com/70762571/193789869-9c66ec14-d010-4519-9761-e2f5984400ee.jpg)

Note: The change should be to that particular text only.

[2022-10-04 09:54] Utkarsh212 commented on #60
Please assign this to me so that I could work on it

[2022-10-04 09:56] tanisha-salvi commented on #60
I can work on this issue, kindly assign it to me.

[2022-10-04 10:00] roopeshsn commented on #60
Sure you can work on this @Utkarsh212 Reference the README file for styling libraries and themes used in this project.

[2022-10-04 10:04] Utkarsh212 commented on #60
@roopeshsn sure

[2022-10-04 10:28] ankitdas09 commented on #51
@roopeshsn can i work on this?

[2022-10-04 10:32] CIC4DA commented on #51
@roopeshsn I would love to work on this issue!

[2022-10-04 10:46] Utkarsh212 commented on #60
@roopeshsn I have fixed the issue. Refer PR: #62

[2022-10-04 10:51] s-vamshi commented on #54
I have done some research about storing files directly in mongodb and i got to know that it is not the best way but we can try.
and i have a solution like if there is a way to use imgBB API then what we can do is as soon as user uploads the image we can send a request to save in imgBB and then if it can send a response which has success and url(link of image) attributes and upon success we can pre

[2022-10-04 10:56] s-vamshi commented on #54
And yes, imgBB provides API so we can use the api service and upload

[2022-10-04 13:08] roopeshsn commented on #51
Hi, @ankitdas09 Could you explain your approach to solving this problem? The message should be rendered on the cart page as well as the place order page.

[2022-10-04 14:15] s-vamshi commented on #54
Seems like cloudinary is the next better option.

[2022-10-04 14:21] #60 closed

[2022-10-04 14:37] s-vamshi commented on #54
@roopeshsn i have a doubt in case if we are using cloudinary then i need to add a new env variable of api key given by cloudinary and then if everything goes well you are going to merge and then you are going set a new env variable as cloudinary api key in heroku dashboard then deploy. This is the flow right ?

[2022-10-04 14:44] roopeshsn commented on #54
Yes, you're right!

[2022-10-04 14:47] s-vamshi commented on #54
so should i start working on this?

[2022-10-04 14:52] roopeshsn commented on #54
Yeah, go ahead! Work on a new branch. We'll discuss weekly the progress.

[2022-10-04 14:53] s-vamshi commented on #54
Sure.

[2022-10-04 17:49] djsteinmetz commented on #55
I would work on this.  My approach would be to decrement the inventory of the item from within the orderController. After the order is successfully saved, I would call the product controller method updateProduct to decrement the inventory by the amount of the completed order.

[2022-10-05 04:26] SyedMuzamilM opened #68 "[FEATURE] Wishlist"
Sometimes, a customer may be interested in a product but decide to buy it later. Or a customer may find a product interesting and want to check that later for more details. A wishlist allows them to store a list of these products so that they can easily find them next time they visit your site.

[2022-10-05 04:31] janmesh799 commented on #68
can you specify in which part wishlist have to be developed
like in backend or frontend

[2022-10-05 04:34] SyedMuzamilM commented on #68
So it will be developed in the both parts. You have to create the model for wishlist first which would include the user id and the products that he has wishlist. After that you need to create app for it so that it can be used on front-end.
And then implement that api on the front-end to include whichlisht icon on the header which should take to the wishlist page where you need to show all the prod

[2022-10-05 04:36] janmesh799 commented on #68
can you break this issue in 2-3 parts
so, it can became easy for contributing.

[2022-10-05 04:43] HridoyHazard opened #69 "Stylish Hover Effect In Category"
Want Add Stylish Hover Effect In Category So When User Move Their Cursor To Category They Will Get Beautiful Hover Effect
kindly assign this to me

[2022-10-05 04:45] roopeshsn commented on #55
Hi, @djsteinmetz Thanks for your interest in this issue! If an order is successfully placed, you will call this updateStocksInCount function not updateProduct right?

[2022-10-05 04:46] SyedMuzamilM opened #70 "Add validation in backend using Joi"
**Is your feature request related to a problem? Please describe.**
User can send any thing to the backend and that unwanted data can be stored in the database.

**Describe the solution you'd like**
In order to prevent the unwanted data to get stored in the database we should be validating the data comming to the backend.
So we should be using Joi as a validation library to validate each request

*

[2022-10-05 04:47] roopeshsn commented on #69
Go ahead @HridoyHazard But make sure that the effect will be aligned to the theme and colors. It should be neat and minimal.

[2022-10-05 04:54] roopeshsn commented on #51
Hi, @ankitdas09 Make sure the message should render on both the cart and shipping pages. If you would like to add the shipping pricing to the cart page you're welcome to do that.

[2022-10-05 05:00] SyedMuzamilM commented on #68
Can you explain what you can do here

[2022-10-05 05:02] janmesh799 commented on #68
as a full stack developer i am comfortable in both backend and front-end.

[2022-10-05 05:03] SyedMuzamilM commented on #68
So you can first start creating the api for this

[2022-10-05 05:03] janmesh799 commented on #68
sure ,
then, can you assign this to me

[2022-10-05 05:05] janmesh799 commented on #68
endpoints
1. adding to wishlist
2. removing from wishlist

any suggestions other than these

[2022-10-05 05:20] SyedMuzamilM opened #71 "Add Typescript"
Typescript is very powerful. We can find some bugs while developing the project. And also it would be helpful to manage a large project.
With typed system it would be great to build the product.

[2022-10-05 05:57] ankitdas09 commented on #51
@roopeshsn Sure. Please assign.

[2022-10-05 06:08] #71 closed

[2022-10-05 06:12] roopeshsn commented on #68
Hi @janmesh799 Why can't we keep the wishlist in the local storage itself? Because the cart items are also stored in local storage. So you can implement this feature in the frontend itself.

[2022-10-05 06:27] janmesh799 commented on #68
yes, i can do this

[2022-10-05 06:32] roopeshsn commented on #68
Hi, @janmesh799 With discussions with @SyedMuzamilM It has been decided to save both the cart and wishlist data in the database, not in local storage. Whether you're interested to work on this. If you feel that it's huge then work for the wishlist feature alone. What's your take?

[2022-10-05 06:35] janmesh799 commented on #68
I think, saving in database makes more sense than saving in local storage.

If user uses application on more than 1 platform , then database would be best choice for retrieving the date for cart and wishlist

[2022-10-05 06:38] roopeshsn commented on #68
Yeah, @SyedMuzamilM also said the same! What's your take @janmesh799?

[2022-10-05 06:43] janmesh799 commented on #68
I can integrate cart and wishlist with database

[2022-10-05 06:44] janmesh799 commented on #68
We should go with database option

[2022-10-05 06:45] roopeshsn commented on #68
Sure @janmesh799 Go ahead!

[2022-10-05 07:12] SyedMuzamilM commented on #68
Also there will be the endpoint to show all the wishlisted items of a user

[2022-10-05 08:13] #53 closed

[2022-10-05 08:16] roopeshsn opened #72 "Create footer section"
**Is your feature request related to a problem? Please describe.**
Freshbey's footer doesn't have enough information.

**Describe the solution you'd like**
Create a footer similar to the screenshot attached.

**Describe alternatives you've considered**
_No response_

**Additional context**

![footer_freshbey](https://user-images.githubusercontent.com/70762571/194012720-664f3be8-2912-48af-8f91-3bbb

[2022-10-05 08:47] janmesh799 commented on #68
cool ✌

[2022-10-05 11:32] #41 closed

[2022-10-05 11:32] #39 closed

[2022-10-05 11:32] #37 closed

[2022-10-05 11:32] masterHAWK99 commented on #72
Please assign me, I started working on it.

[2022-10-05 11:32] #27 closed

[2022-10-05 16:48] roopeshsn commented on #54
Could you share what that review looks like?

[2022-10-05 16:51] #72 closed

[2022-10-05 16:53] s-vamshi commented on #54
I haven't worked on it but beside file input field we can show preview.
I have made PR where we can upload images directly to cloudinary, can you please check?
#74

[2022-10-05 16:57] roopeshsn commented on #54
I will review the code and let you know tomorrow. Also, add screenshots of your work.

[2022-10-05 16:57] s-vamshi commented on #54
Sure!

[2022-10-05 17:16] s-vamshi commented on #54
Here is the working demo -

https://user-images.githubusercontent.com/62489114/194121496-ea9daa86-6af6-4493-b605-c7d0b9fb813d.mp4

[2022-10-06 12:44] s-vamshi commented on #54
@roopeshsn i have made few modifications to CreateProduct page which are
1. Image src label changed to Product image
2. Set the Image Source field as readOnly. Reason - after uploading image user might change the src path.
3. Changed the order of input (Image Src and File Upload) fields. Reason - before image src input field used to be encountered by the user, as I have made img src field as readO

[2022-10-06 13:28] s-vamshi commented on #54
Here is the view :-

**Desktop View -**
![temp4](https://user-images.githubusercontent.com/62489114/194324386-f8b6e203-a4a3-4206-8bec-ffabc0956f51.PNG)

**Mobile View -**
![tem5](https://user-images.githubusercontent.com/62489114/194324414-5061a07f-69a4-4f6d-a157-203add50604c.PNG)

[2022-10-06 13:47] roopeshsn commented on #54
Could you also show the product page with the image, description, and pricing?

[2022-10-06 13:55] s-vamshi commented on #54
![tem6](https://user-images.githubusercontent.com/62489114/194331542-f593f533-b2a4-4da5-9d46-d3880734c74d.PNG)

![tem7](https://user-images.githubusercontent.com/62489114/194331584-e0d42b53-b49c-4f5f-8f9e-f5e77587fa34.PNG)

[2022-10-06 14:15] roopeshsn commented on #54
No, I am saying that remove the img path component. Why do we need to show the path of the image to the user?

![screenshot-github com-2022 10 06-19_44_05](https://user-images.githubusercontent.com/70762571/194336336-4a55fef4-a62d-42de-bed2-965d5b667b3e.png)

[2022-10-06 14:31] s-vamshi commented on #54
is this view ok?

[2022-10-06 14:59] s-vamshi opened #76 "404 page"
Whenever we enter a route which doesn't exists then the page is shows only navbar and search bar and remains blank below it.
Here is the image how it looks -

![tem9](https://user-images.githubusercontent.com/62489114/194343492-50e5df22-f92c-4b60-9acf-4572b76525f4.PNG)

I think we need to tell user that the page they are referring doesn't exists.
So i would like to build 404 page which tells user

[2022-10-06 15:06] roopeshsn commented on #54
Nice

[2022-10-06 22:56] akshat-rawat opened #77 "Hash password before storing"
**Is your feature request related to a problem? Please describe.**
The passwords being stored are not hashed, this is a security concern while developing e-commerce websites.

**Describe the solution you'd like**
Before storing passwords we can hash it, alternatively before making the API request to backend we can hash the password then we can store it.

**Describe alternatives you've considered**

[2022-10-07 07:44] BiswajitSahoo-tech commented on #55
Hi @djsteinmetz
I want to work on this issue, my approach would be like this:

1. when the user paid for an order, that order is now successfully placed. In this case, we call the `updateOrderToPaid` route handler.
2. In `updateOrderToPaid` we have access to the current order by this code line
    `const order = await Order.findById(req.params.id)`
3. Each order document has an **OrderItem**, an a

[2022-10-07 15:18] roopeshsn commented on #77
Hi @akshat-rawat Hashing of a password is implemented in userModel.js https://github.com/roopeshsn/freshbey/blob/a61c420b5ceb4eb96142161887b49632a1d4bc12/backend/models/userModel.js#L51

[2022-10-07 15:31] roopeshsn commented on #76
You can work on this @s-vamshi Thanks for your interest in this project!

[2022-10-07 15:34] roopeshsn commented on #55
Actually, you should have mentioned me not @djsteinmetz Just kidding!

[2022-10-07 15:42] BiswajitSahoo-tech commented on #55
Yes @roopeshsn
Very much interested to work on this.

[2022-10-08 02:49] #77 closed

[2022-10-08 03:16] gkupdx opened #79 "Search box shouldn't appear in the /login route"
Currently, clicking on "Login / Sign Up" redirects you to /login with this on the page:

![image](https://user-images.githubusercontent.com/32969781/194681542-78132df4-32dc-46cf-ab2b-88245b10bbdf.png)

But I don't think it makes any intuitive sense for a search box to be in the /login route.
I can see that the search box is being rendered in the Header.js component. Is there a specific reason as t

[2022-10-08 12:30] roopeshsn commented on #79
Hi @gkupdx You're right we don't need the search box in the login, register, and forgot password routes. You can work on this.

[2022-10-08 12:52] roopeshsn opened #81 "Previous and Next buttons are not visible in the carousel component"
In the Carousel component, the previous and next buttons are not properly visible to the user.

![slider_button_not_visible](https://user-images.githubusercontent.com/70762571/194708439-8283c597-7e9c-433a-a9f4-f14e451c7cf6.png)

[2022-10-08 12:53] ElectricPlant19 commented on #81
assign this to me please i can fix it

[2022-10-08 12:54] roopeshsn commented on #69
Hi, @HridoyHazard Have you working on this issue? If not I'll unassign you so that others can work.

[2022-10-08 12:55] roopeshsn commented on #81
Hi, @ElectricPlant19 Could you share your approach to doing it?

[2022-10-08 13:02] ElectricPlant19 commented on #81
Can be done by giving the span of the carousel a translucent tint.

[2022-10-08 13:09] roopeshsn opened #82 "Place Search bar on the Navbar"
The search bar should be placed in the Navbar as shown in the image.

![search_box_navbar_freshbey](https://user-images.githubusercontent.com/70762571/194709197-7ab87cc4-82cc-4296-9399-0e88f247ded5.png)

[2022-10-08 13:12] bhumika-1-3 commented on #82
can you assign this to me ?

[2022-10-08 14:44] roopeshsn opened #84 "Redefine product quantity selection"
**Is your feature request related to a problem? Please describe.**
As of now to order a product in Freshbey you can select a quantity in a sequence. For example, If you're going to order a Tomato you can select 1 kg, 2kg, and so on. But in reality, 90%  of the customers won't buy more than 2kg. There's an unexpected behaviour here. If an admin updates the count in stock as 100 kg. The quantity inp

[2022-10-08 15:10] nallammai-maruthappan commented on #82
can you assign this to me?

[2022-10-08 15:19] bhumika-1-3 commented on #82
Its already been assigned to me.

[2022-10-08 15:55] s-vamshi opened #86 "Page goes blank when we try to edit any product in admin/productlist page after editing one of the product before"
**Describe the bug**
when we are in admin/productlist route, when we click on edit button and update a product then we will get again redirected to admin/productlist. Here starts the problem now when we want to edit any other product we will get an error Uncaught TypeError: Cannot read properties of undefined (reading 'name') at ProductEditScreen.js:47:1

**To Reproduce**
Steps to reproduce the be

[2022-10-08 16:10] roopeshsn commented on #86
But you don't have any contribution or commit to your own repos before.

[2022-10-08 16:28] SurajKD commented on #86
i can fix it

[2022-10-08 16:31] roopeshsn commented on #86
Hi @SurajKD You can work on this. If you found the bug mention it precisely in your PR.

[2022-10-08 16:47] VivekYadav98 commented on #82
Hey @roopeshsn , can you  please assign this to me  ?

[2022-10-08 17:42] Potato-29 commented on #84
Hi, I'd like to work on this feature

[2022-10-08 17:53] Dnyanesh-Bachhav commented on #82
Hey, I have added a searchbar in header, please check it once??

[2022-10-08 17:58] sameersecond commented on #86
Hi @roopeshsn. Sorry I don't have any commits on this account. I have found the source of the bug and fixed it. Do you want me to create the PR or should I work on some other bug

[2022-10-08 19:07] gkupdx commented on #79
@roopeshsn Is it okay if I just remove the search box from HomeScreen.js as well? I think you wanted to move the search box into the header bar anyways.

[2022-10-08 20:54] jarus1029 commented on #69
Hey!! Can You assign me this task ???
I can work on this as specified by you...

[2022-10-09 00:35] roopeshsn commented on #84
Hi, @Potato-29 Could you explain your approach to solving this problem?

[2022-10-09 00:37] roopeshsn commented on #69
Go ahead @jarus1029 But make sure that the effect will be aligned to the theme and colors. It should be neat and minimal.

[2022-10-09 01:08] roopeshsn commented on #79
No

[2022-10-09 01:40] #55 closed

[2022-10-09 01:42] roopeshsn commented on #59
Hi @heisdinesh If you're not working on this issue let me know. I can unassign you so that others can work.

[2022-10-09 01:42] #54 closed

[2022-10-09 04:34] heisdinesh commented on #59
Sir i am figuring out, how to do this, sure you can unassign me as it is taking long time, thanks for the opportunity

[2022-10-09 05:38] Potato-29 commented on #84
I'm thinking firstly I'll remove the issue where if the admin adds for example 100kg then the selection has 100 options as kgs

then, I'm thinking something like fixed weight for veggies (250g, 500g, 1kg, 2kg, 5kg)
then, the measuring unit changing as per the product so if its oil then it changes to litres and so on
and all of this will be data that can be sent to the databse

[2022-10-09 05:58] roopeshsn commented on #84
Hey, @Potato-29 You can neglect the unexpected behavior rendering 1 to 100. Because you're going to build from scratch. As I explained in the problem statement we need two inputs for a product. One is pre-defined quantities and the other one is the actual quantity. The actual quantity is an integer. I highly encourage you to again go through the problem statement and raise queries (if any) before

[2022-10-09 07:10] #86 closed

[2022-10-09 08:20] Aryan-Bhatt-pro commented on #59
Hi @roopeshsn, is the issue assigned to anyone? I would like to contribute to it

[2022-10-09 08:49] roopeshsn commented on #59
You can work on this issue @Aryan-Bhatt-pro

[2022-10-09 21:35] gkupdx commented on #79
@roopeshsn Okay, I think I got this issue fixed. Just had one question: is it okay if I include a very minor refactor in the commit?
I just wanted to replace a ternary operator with the && operator in Header.js:

From this:
![image](https://user-images.githubusercontent.com/32969781/194780429-107fe3eb-efba-48ea-95c3-b981f19d97a5.png)

To this:
![image](https://user-images.githubusercontent.com/329

[2022-10-10 02:33] roopeshsn commented on #79
No problem

[2022-10-10 07:38] s-vamshi commented on #76
@roopeshsn

**This is how 404 page looks in desktop -**
![tem17](https://user-images.githubusercontent.com/62489114/194817287-fc519a68-2210-434b-b0e7-4dec7a0b1f6f.PNG)

**And in mobile -**
![screencapture-localhost-3000-a-2022-10-10-13_05_37](https://user-images.githubusercontent.com/62489114/194817857-87251b31-7221-4430-abaf-11b70ebed464.jpg)

**Is this ok?**

[2022-10-10 13:50] roopeshsn commented on #76
Hi, @s-vamshi This 404 page looks cluttered and aligned to our application theme. It will be good if you adopt a minimal design.

[2022-10-10 14:01] s-vamshi commented on #76
And should I remove the random dishes component or should i make any changes to it?, any thoughts on this?

[2022-10-10 14:31] s-vamshi commented on #76
@roopeshsn got it and working on it.

[2022-10-10 15:22] s-vamshi commented on #76
Is it ok?
Desktop view -
![screencapture-localhost-3000-a-2022-10-10-20_41_55](https://user-images.githubusercontent.com/62489114/194898732-f2469c57-4e95-4d77-9537-fb90ff2e1fe6.jpg)
Mobile view -
![tem19](https://user-images.githubusercontent.com/62489114/194900910-2d4e6c8b-ec63-4fc0-8ce6-de8b7f1630ab.PNG)

[2022-10-11 01:56] roopeshsn commented on #76
It will be nice if it was at the center of the page. Also the font weight of the "Take me home" text can be reduced.

[2022-10-11 05:48] s-vamshi commented on #76
I have made the changes can you please check?

![screencapture-localhost-3000-a-2022-10-11-08_21_10](https://user-images.githubusercontent.com/62489114/195002374-46474d58-df2b-44f9-8859-3a91cc36e39f.jpg)

![screencapture-localhost-3000-a-2022-10-11-11_17_47](https://user-images.githubusercontent.com/62489114/195006762-6ecc9b8d-570c-4fae-a77a-b3920bb1ea22.jpg)

[2022-10-11 13:42] roopeshsn commented on #59
Hey, @Aryan-Bhatt-pro Have you completed the work assigned to you?

[2022-10-11 13:42] roopeshsn commented on #69
Hey, @jarus1029 Have you completed the work assigned to you?

[2022-10-11 13:42] roopeshsn commented on #68
Hey, @janmesh799 Have you completed the work assigned to you?

[2022-10-11 13:43] roopeshsn commented on #81
Hey, @ElectricPlant19  Have you completed the work assigned to you?

[2022-10-11 13:44] #79 closed

[2022-10-11 13:44] roopeshsn commented on #82
This issue is still open!

[2022-10-11 13:45] #51 closed

[2022-10-11 14:40] ranjankuldeep commented on #82
Please assign it to me.. @roopeshsn

[2022-10-11 15:13] s-vamshi opened #91 "Set pre-defined options in Category while creating new product"
**Is your feature request related to a problem? Please describe.**
It's frustrating to type whole category name while creating a product and if user misspells category then the product will not belong to expected category and it will not get shown to user unless they search with product name.

**Describe the solution you'd like**
Instead of manually typing the category name we can show available c

[2022-10-11 15:14] s-vamshi commented on #91
@roopeshsn I would like to work on this. Can you assign this to me?

[2022-10-12 07:07] akshat-rawat commented on #84
@roopeshsn, if this is still open can I work on it? I would start with adding 2 input fields for the item, one would be dropdown of fixed quantity and other will be the user requested quantity of type text (number).

[2022-10-12 09:37] ranjankuldeep opened #92 "No. of total items are not added properly in cart."
**Describe the bug**
 There is a bug in displaying number of total items in the cart.
Number of item is treated as a string, which results in string concatenation.

**To Reproduce**
Steps to reproduce the behavior:
1. Let's say add (Apple 1kg)
2. then add (Onion 1 kg)
3. Now if you add (Mushroom 2kg).
4. No. of items in the cart will show 22 instead of 4.

**Expected behaviour**
There should be in

[2022-10-12 09:38] ranjankuldeep commented on #92
I want to work on this.
please assign it to me @roopeshsn  ..

[2022-10-12 14:33] roopeshsn commented on #84
Hi, @akshat-rawat Have you gone through my intuition and what I want to be done through the above problem statement and conversations? What's your approach on the backend to implement this functionality?

[2022-10-12 14:35] roopeshsn commented on #70
@SyedMuzamilM is working on this issue. Have you finished working on this issue @SyedMuzamilM?

[2022-10-12 14:36] #69 closed

[2022-10-12 14:37] roopeshsn commented on #59
This issue is still open.

[2022-10-12 14:44] akshat-rawat commented on #84
Hi @roopeshsn, In backend we have to add a column `availableQuantities` which will tell that the items is available in what all quantities like for 1kg, 2kg or in 500ml, 1 L and so on. Then we can have a dropdown menu for the same.

[2022-10-12 14:54] roopeshsn commented on #84
So is that an array of quantities? We have a page for admins to add products. How will you take care of that?

[2022-10-13 01:57] #92 closed

[2022-10-13 02:12] roopeshsn opened #94 "Redesign or Rewrite profile page"
**Is your feature request related to a problem? Please describe.**
The profile page should be redesigned so that it will improve the UX.

**Describe the solution you'd like**
Here's the current profile page of Freshbey,

![profile_freshbey](https://user-images.githubusercontent.com/70762571/195482339-2e7c8fe5-d1ae-4cc9-ad25-03765b8c1111.png)

This page should be redesigned similarly to this.

![sc

[2022-10-13 05:03] akshat-rawat commented on #84
Yeah, ofcourse.

On Thu, 13 Oct, 2022, 7:06 am Roopesh Saravanan, ***@***.***>
wrote:

[2022-10-13 10:09] ranjankuldeep commented on #59
I Would like to contribute.
 Please assign it to me.
@roopeshsn.

[2022-10-13 12:00] ranjankuldeep commented on #94
Can u share some designs?
How screen will look after clicking Your orders and all?

[2022-10-13 14:08] roopeshsn commented on #84
Go a head @akshat-rawat

[2022-10-13 14:11] roopeshsn commented on #94
So we have user profiles and orders on the same page, right? When clicking "Your orders" a page should render with only orders. Use the same order table.

[2022-10-13 14:13] roopeshsn commented on #94
Also, we only need "Your orders", "Login and security" and "Your addresses". Nothing else is required.

[2022-10-13 14:39] ranjankuldeep commented on #59
###  just need a go-ahead, I already changed the color to all Input Fields. @roopeshsn
<img width="1440" alt="Screenshot 2022-10-13 at 8 04 29 PM" src="https://user-images.githubusercontent.com/95350799/195626871-3d9343fe-5659-453e-b37f-34d6fdc32b0d.png">

[2022-10-13 17:39] ranjankuldeep commented on #94
ok Fine. I UNDERSTOOD
Please assign. @roopeshsn

[2022-10-14 01:53] gkupdx opened #96 "Improve understandability of the profile screen"
**Is your feature request related to a problem? Please describe.**
Feature is not related to a problem, it is just something I'd like to see improved.
Currently, the profile screen info looks like this:
![image](https://user-images.githubusercontent.com/32969781/195743134-f124c9d0-0b2e-47e9-837f-13c0069ca8ca.png)

But having a form be displayed under the user profile can be confusing to the user.

[2022-10-14 09:39] SyedMuzamilM commented on #70
Yes almost finished it. You can assign @DreuXXX  this task. I am busy with some work. Will not be able to work on this for some time. Once I get some time I will work on some other taks.

[2022-10-16 06:07] roopeshsn commented on #94
Are you working on this @ranjankuldeep?

[2022-10-16 06:12] roopeshsn commented on #96
Refer #94

[2022-10-16 06:12] #96 closed

[2022-10-16 07:14] roopeshsn opened #98 "Implement the location (address) feature"
**Is your feature request related to a problem? Please describe.**
As of now in Freshbey users want to enter the address every time placing an order. To avoid a functionality should be made so that they'll ask to enter the address once and for future orders, the entered address will be used.

**Describe the solution you'd like**
Here's the address feature in amazon.in

![address_amazon_1](https://

[2022-10-16 07:15] ranjankuldeep commented on #94
I already have an issue assigned.
I am waiting for the review of my PR #95 . and also to create a PR on issue #59.

After completing these two, I would be happy to work on this.

[2022-10-16 07:25] roopeshsn commented on #81
This issue is still open!

[2022-10-16 07:25] #70 closed

[2022-10-16 07:26] #68 closed

[2022-10-16 07:29] roopeshsn commented on #59
This issue is still open!

[2022-10-16 07:33] ranjankuldeep commented on #59
ya I worked on that and fixed that, assign me so that I generate the PR.

[2022-10-16 07:56] roopeshsn commented on #59
I don't want you to commit this feature along with that search box changes. Work on the new branch and commit the changes for this feature alone. Is that clear?

[2022-10-16 07:57] ranjankuldeep commented on #59
yes,
I will make a new branch.

[2022-10-16 08:47] #59 closed

[2022-10-16 09:02] #91 closed

[2022-10-16 09:16] roopeshsn commented on #94
This issue is still open!

[2022-10-16 09:20] s-vamshi opened #100 "Admin is able to set negative values for price mrp and count in stock in create and edit product"
**Describe the bug**
Admin is able to set negative values for price mrp and count in stock fields which is meaningless in create and edit product screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /admin/createproduct
2. Try to set negative values for number type input fields

**Expected behavior**
We need to be able to set positive values only.

**Screenshots**
![image](https://

[2022-10-16 09:20] s-vamshi commented on #100
@roopeshsn I would like to work on this. Can you assign this to me?

[2022-10-16 09:38] roopeshsn opened #101 "Bug in order page"
**Describe the bug**
On the order page if an admin orders a product, the status of payment and delivery is not updated when the "Mark as paid" button is clicked. The status is updated when the page is refreshed.

[updation_bug.webm](https://user-images.githubusercontent.com/70762571/196028523-3068a1a1-a3ba-4733-a4a4-3ec3fca89eac.webm)

**To Reproduce**
Steps to reproduce the behavior:
1. Login wit

[2022-10-16 09:39] roopeshsn commented on #100
Sure @s-vamshi

[2022-10-16 10:19] roopeshsn opened #102 "User info are saved in local storage which is vulnerable to user"
The user information like email, password, token are saved in local storage which is vulnerable to user privacy. Come up with a solution to address this issue.

![userinfo_local_freshbey](https://user-images.githubusercontent.com/70762571/196029856-c5524723-f772-496d-af9a-393223bd9b00.jpg)

[2022-10-16 10:27] roopeshsn opened #103 "Create an functionality to add category in admin route"
**Is your feature request related to a problem? Please describe.**
On the admin page, we have options to add a product and carousel. In a similar way, create an option to add a category.

**Describe the solution you'd like**
The category page in the admin route is already there. Add the said functionality to the page.

![add_category_page](https://user-images.githubusercontent.com/70762571/1960302

[2022-10-16 10:47] roopeshsn opened #104 "Create a Sort functionality"
**Is your feature request related to a problem? Please describe.**
Create a sort option so that users can sort the products from low to high or high to low by price.

**Describe the solution you'd like**
Here is the sort option in amazon.in

![sort_feature_1](https://user-images.githubusercontent.com/70762571/196030964-a3ba8b5f-b636-42fd-98b2-19420a7bad01.jpg)

![sort_feature_2](https://user-image

[2022-10-16 13:21] kanavmittal commented on #104
@roopeshsn assign this to me

[2022-10-16 13:25] roopeshsn commented on #104
Hi, @kanavmittal Check the README.md for the styling frameworks used.

[2022-10-16 13:34] kanavmittal commented on #104
Got it

[2022-10-16 14:38] felizj17 commented on #101
I'd like to work on this

[2022-10-16 14:40] kanavmittal commented on #104
@roopeshsn should it be " low to high " or " high to low " or none by default

[2022-10-16 15:55] roopeshsn commented on #104
By default it should be none.

[2022-10-16 15:56] roopeshsn commented on #101
Have you found out about the bug?

[2022-10-16 15:58] roopeshsn commented on #82
This issue is still open!

[2022-10-16 19:58] kanavmittal commented on #104
<img width="1435" alt="Screenshot 2022-10-17 at 1 26 54 AM" src="https://user-images.githubusercontent.com/33971670/196055357-4c8218a6-52b9-46c9-a997-5a78abd49c84.png">

completed sorting, will create pr after approval

[2022-10-16 20:12] gkupdx commented on #94
@roopeshsn I would like to be assigned to this

[2022-10-17 02:23] s-vamshi commented on #102
@roopeshsn i would like to work on this issue. Can you assign this to me?
My approach is in the backend we need to only send token after login or sign in

[2022-10-17 06:33] AyushTripathi-sketch commented on #103
@roopeshsn assign this to me

[2022-10-17 06:56] nallammai-maruthappan commented on #82
can you assign to me?

[2022-10-17 13:55] #100 closed

[2022-10-17 14:00] roopeshsn commented on #103
Hi @AyushTripathi-sketch You can work on this!

[2022-10-17 14:02] roopeshsn commented on #102
So It won't save the credentials in local storage, right?

[2022-10-17 14:03] roopeshsn commented on #94
You can work on this @gkupdx!

[2022-10-17 14:05] roopeshsn commented on #82
But most of them who worked on this issue failed to complete the task. Will you do it?

[2022-10-17 14:21] s-vamshi commented on #102
Yes it won't get stored except jwt.

[2022-10-18 11:35] Supriya-48 commented on #82
I would like to work on it, could you assign it to me @roopeshsn

[2022-10-18 22:30] gkupdx commented on #94
@roopeshsn Am I supposed to create separate component screens for each path? For example, if a user clicks "My Orders", should it direct the user to a /profile/my-orders route? Or can the orders table be displayed on the profile page?

[2022-10-19 13:45] AyushTripathi-sketch commented on #81
#109

[2022-10-19 13:47] AyushTripathi-sketch commented on #81
Solved the issue in pr #109

[2022-10-20 01:12] roopeshsn commented on #102
https://coolgk.medium.com/localstorage-vs-cookie-for-jwt-access-token-war-in-short-943fb23239ca

[2022-10-20 05:59] ozair-dev commented on #102
@s-vamshi localStorage can be accessed by the browser but the **cookies** are 'set and read' only by the backend and client doesn't have any control over it.

[2022-10-20 06:01] ozair-dev commented on #102
@roopeshsn u can assign it to me if @s-vamshi is not available.

[2022-10-20 06:06] s-vamshi commented on #102
@roopeshsn I caught up with some other work so you can assign it to @ozair-dev.

[2022-10-20 10:40] roopeshsn commented on #84
Hi, @akshat-rawat Any updates related to your work on this issue?

[2022-10-20 10:41] roopeshsn commented on #102
You can work on this issue @ozair-dev!

[2022-10-20 10:42] roopeshsn commented on #94
Yeah, you're right!

[2022-10-20 10:43] roopeshsn commented on #94
We need the UI to be clear and concise not cluttered with the whole data.

[2022-10-20 10:44] roopeshsn commented on #3
This issue is still open.

[2022-10-20 11:06] roopeshsn opened #110 "Add visual indication in the checkout process"
In the checkout process, there is no visual indication for the user which step they are in. It will be better if a progress bar or any kind of visual indication is added in the checkout process.

Here's the screenshot of the shipping page where no indication is there for the user,
![checkout_process_progress_bar_feature_freshbey](https://user-images.githubusercontent.com/70762571/196932515-5190f91

[2022-10-20 11:18] simonpankovski commented on #110
Hey, I wanted to work on this issue and as a suggestion I thought of implementing checkout steps similar to this picture:

![image](https://user-images.githubusercontent.com/46830637/196934663-05b9f115-05c1-4a62-8e6e-149479c43e41.png)

If that is alright then can you assign me the issue? I might have additional questions when I start the implementation so I will post them here.

[2022-10-20 11:52] roopeshsn commented on #110
It will be better if it was a progress bar

[2022-10-21 11:36] roopeshsn opened #111 "Need more context about the delivery process"
As of now in Freshbey one can order items using COD and UPI. In both methods, the manual invention is needed to update the status. In delivery status, there is only one of the two messages "Delivered" or "Not delivered" which are shown to the user.

Here's the order page.
![order_page_freshbey](https://user-images.githubusercontent.com/70762571/197187005-7919a9a8-d310-4571-aad0-f22de0f4e314.png)

[2022-10-22 03:03] roopeshsn opened #113 "Need a single place to update the branding and theme color"
Freshbey is a self-hostable e-commerce application. Minimum coding experience is enough to host this application by anyone who wishes to create an e-commerce app. Everyone has their own branding and theme color for their e-commerce application. Up to now,  there is no single file to update the branding and theme color.

Come up with a solution to update the branding and theme across the applicatio

[2022-10-22 19:56] gkupdx commented on #94
@roopeshsn I had a question about the "Your Addresses" route. Where should I get the address data from? The app doesn't ask you to enter your address when you register for a new account so the profile page doesn't have access to that information.

[2022-10-23 05:34] Athi223 commented on #113
Hey, I'd like to give this a try, if its available for contribution

[2022-10-23 07:17] roopeshsn commented on #113
Hi, @Athi223 Yeah this issue is still open. Could you explain your approach?

[2022-10-23 10:25] Athi223 commented on #113
Hey @roopeshsn, I was thinking of storing theme colors in `App.css` or `index.css` inside `:root` and then using those everywhere, what do you think?

[2022-10-25 12:10] roopeshsn commented on #113
No, I am not expecting that one. We need a single place to do that!

[2022-10-26 11:03] amanycodes commented on #82
Hey, I would like to work on this issue. Can you please assign me the task of adding the search bar on the navbar. I would appreciate it.

[2022-10-26 11:05] bismuth42 commented on #81
I would like to work on this issue, please assign it to me.

[2022-10-26 11:08] amanycodes commented on #113
Hey, I would like to work on this issue. Can you please assign this to me.

[2022-10-29 09:49] roopeshsn commented on #94
Yeah, the address is not stored in the DB. Need to implement that feature #98. You can leave the address part.

[2022-10-30 10:54] #101 closed

[2022-10-30 10:57] #102 closed

[2022-10-30 11:02] #81 closed

[2022-10-30 11:03] roopeshsn commented on #82
Go a head @amanycodes

[2022-11-01 10:40] roopeshsn commented on #84
This issue is up for grabs!

[2022-11-01 10:41] roopeshsn commented on #104
This issue is up for grabs!

[2022-11-10 09:46] roopeshsn commented on #104
Hi, @silvina-varela! Yeah, you can work on this!

[2022-11-28 15:16] gokul-srinath commented on #82
hey @roopeshsn , kindy checkout my PR
**Search Bar added in Navigation Bar #122**
have added detailed description on the issue, please review